.external-link-bar {

  .margin-row {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  a {
    color: inherit;

    &:link {
      color: inherit;
    }
  
    &:visited {
      color: inherit;
    }

    &:hover,
    &:focus {
      color: var(--bs-link-hover-color);
    }

    &:active {
      color: var(--bs-link-hover-color);
    }
  
    &:focus:not(:hover) {
      color: inherit;
    }
  }

}