@import '../styles/theme';

html {
  box-sizing: border-box;
}

.app {
  padding-top: 3.5rem;
  padding-bottom: 4.5rem;
  position: relative;
  min-height: 100svh;
  overflow: auto;

  .text-justify {
    text-align: justify;
  }

  .fs-7 {
    font-size: 0.9rem;
  }

  .fs-8 {
    font-size: 0.8rem;
  }

  .fs-9 {
    font-size: 0.7rem;
  }

  .fs-10 {
    font-size: 0.6rem;
  }

  .fs-11 {
    font-size: 0.5rem;
  }

  .fs-12 {
    font-size: 0.4rem;
  }

  p {
    text-align: justify;
  }

  .breadcrumb a {
    text-decoration: none;
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--bs-body-bg-rgb), 0.8);
    z-index: 1;
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .bg1 {
    background-image: url('/images/back1.jpg');
    animation: fadeOut 32s infinite;
  }

  .bg2 {
    background-image: url('/images/back2.jpg');
    animation: fadeIn 32s infinite;
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  35% { opacity: 1; }
  50% { opacity: 0; }
  85% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  35% { opacity: 0; }
  50% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; }
}
