.external-link-bar {

  .margin-row {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  a {
    color: inherit;

    &:link {
      color: inherit;
    }
  
    &:visited {
      color: inherit;
    }

    &:hover,
    &:focus {
      color: var(--bs-link-hover-color);
    }

    &:active {
      color: var(--bs-link-hover-color);
    }
  
    &:focus:not(:hover) {
      color: inherit;
    }
  }

  .social-icon {
    font-size: 1.9rem;

    @media (max-width: 767px) {
      font-size: 1.6rem;
    }
  }

  .custom-icon-wrapper {
    display: inline-flex;
    transform: scale(0.9);

    @media (max-width: 767px) {
      transform: scale(0.7);
    }
  }

}