.footer-bar {

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(var(--bs-body-bg-rgb), 0.3);
  min-height: 4rem;

  .blank-btn {
    text-decoration: none;
    font-size: inherit;
  }

}