.moving-gradient-title {

  .gradient-text {
    font-size: 2.42rem;
    font-weight: bold;
    background: linear-gradient(
      120deg,
      var(--bs-body-color),
      var(--bs-body-color),
      var(--bs-body-bg),
      var(--bs-body-color),
      var(--bs-body-color)
    );
    background-size: 360% 360%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    filter: drop-shadow(0 0 0px rgba(13, 110, 253, 0));
    animation: subtleGlow 12s infinite ease-in-out, pulseGlow 12s infinite ease-in-out;
  }

}

@keyframes subtleGlow {
  0%, 85%, 100% { 
    background-position: 0% 50%; 
  }
  10%, 75% { 
    background-position: 100% 50%; 
  }
}

@keyframes pulseGlow {
  0%, 3%, 17%, 85%, 100% {
    filter: drop-shadow(0 0 0px transparent);
  }
  5% {
    filter: drop-shadow(0 0 4px rgba(var(--bs-body-bg-rgb), 0.3));
  }
  10% {
    filter: drop-shadow(0 0 12px rgba(var(--bs-body-bg-rgb), 0.8));
  }
  15% {
    filter: drop-shadow(0 0 4px rgba(var(--bs-body-bg-rgb), 0.3));
  }
}
