@import './styles/theme';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Sinhala:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

div[lang="en"] {
  font-family: 'Montserrat', 'Noto Serif Sinhala', sans-serif;
}

div[lang="si"] {
  font-family: 'Noto Serif Sinhala', 'Montserrat', serif;
}

html {
  box-sizing: border-box;
}
